#mainwrapper header {
    background-color: lightgray;
    overflow: auto;
    font-family:'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 400;               
    }
#mainwrapper header #logo1 {
    width: 16%;
    float: left;
    padding-left: 1%;
    padding-top: 12px;
    padding-bottom: 12px;
}
#mainwrapper header #logo2 {
    width: 14%;
    float: left;
    padding-right: 1%;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-left: 200px;
}
#mainwrapper header nav {
    text-align: left;
    padding-top: 50px;
    width: 40%;
    float: left;
    color: gray;   
    font-size: 25px;
} 
#mainwrapper input{
    width: 160px;
    height: 50px;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
}
header nav a {
    margin: 30px;
}
#pic1 {
    margin-top: 10px;
    width: 1100px;
    height: 700px;
} 
#concert-box {
    width: 1250px;
    height: 450px;
    border: 2px solid black;
    float: right;
    text-align: center;
    font-size: 20px;
}
#memberbox1 {
    width: 410px;
    height: 450px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 5px;
}
#memberbox2 {
    width: 410px;
    height: 450px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 130px;
}
#memberbox3 {
    width: 410px;
    height: 450px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 130px;
}
#memberbox4 {
    width: 430px;
    height: 450px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 250px;
}
#memberbox5 {
    width: 430px;
    height: 450px;
    border: 1px solid white;
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-left: 140px;
}
#info a{
    margin: 180px;
    font-size: 20px;
}
#sidebar {
    width: 340px;
    padding-left: 2%;
    padding-right: 2%;
    background-color: darkgrey;
    margin-left: 10px;
    padding-bottom: 20px;
    margin-top: 10px;
}
#sidebar #albumpic{
    width: 100%;
    margin-top: 23px;
    float: center;
    overflow: auto;
    margin-left: 15px;
}
#profilebg {
    width: 410px;
    padding-left: 1%;
    padding-right: 1%;
    background-color: darkgrey;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-inline: 65px;
}     
#profilebg #memberpic1 {
    width: 100%;
    float: center;
    overflow: auto;
    padding-top: 20px;
}
#profilebg #memberpic2 {
    width: 100%;
    float: center;
    overflow: auto;
    padding-top: 20px;
    margin-left: 15px;
}
.row {
    display: flex;
    justify-content: center;
}
#sidebar #description{
    text-align: center;
    font-size: 20px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.container2 {
    display: flex;
    align-items: center;
}
.container iframe {
    margin-right: 10px;
}
#instagram {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
#twitter {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
#phoning {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
#youtube {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
#weverse {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
#facebook {
    height: 100px;
    width: 100px;
    font-size: 0px;
}
ul.icon li {
    display: inline-block;
    margin: 40px;
    margin-right: 100px;
}